/* reset.css */
@import "css/reset.css";
@import "css/Real-reset.css";

.wrap{
    position: relative;
    width: 1020px;
    height: 650px;
    margin: 0 auto;
    background: url(../image/promotion.png) no-repeat 0 0;
}

.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.link_point{
    position: absolute;
    left: 100px;
    bottom: 130px;
    width: 133px;
    height: 22px;
}

.submit_btn{
    position: absolute;
    bottom: 32px;
    left: 340px;
    width: 340px;
    height: 70px;
}